@{
    ViewBag.Title = "Display Barcodes";
    Layout = null;
    List<string> lstStr = ViewData["lstBarcodesstr"] as List<string>;
    List<string> lstStrImg = ViewData["lstBarcodesstrImage"] as List<string>;
    List<string> lstamts = ViewData["lstBarcodesamt"] as List<string>;
}

<style>
    body {
        width: 8.6in;
        /* margin: 0in .1875in; */
        margin-top: 9px;
        margin-right: 0px;
        margin-left: 0px;
    }

    @@media print {
        * {
            -webkit-print-color-adjust: exact;
        }
    }

    .label {
        width: 1.635in;
        height: 2.032in;
        /*padding: .01in .01in 0;
        padding-bottom: 0.05in;
        margin-right: 14px;
        margin-left: 5px;*/
        float: left;
        text-align: center;
        overflow: hidden;
        /* outline: 1px dotted; */
    }

    @@media print {
        footer {
            page-break-after: always;
        }
    }

    .page-break {
        clear: left;
        display: block;
        page-break-after: always;
    }

    p:nth-child(5n+1) {
        /*   margin-left: 0px;*/
    }

    .label:nth-child(5n+5) {
        /*  margin-right: 5px;*/
    }

    .label:nth-child(5n+4) {
        /* margin-right: 24px;*/
    }
</style>
@*<h2>Barcodes For Amount: @ViewBag.Amount</h2>*@
@for (int J = 0; J < lstStr.Count(); J++)
{
    string imgbg = "qr" + lstamts[J] + ".png";
    @*<div style="display:inline-block;margin-right:10px;border:1px solid;margin-bottom:10px;padding:2px;">
            <div style="text-align:center;">
                <img src="@lstStrImg[J]" alt="" style="height:60px;width:60px;margin-right:10px;" />
                <br/>
                <span>@lstStr[J]</span>
            </div>

        </div>*@
    <div class="label" style="background-image: url('/images/@imgbg'); background-repeat: no-repeat;">
        <div style="text-align: center; text-align: left; margin-top: 83px;position:absolute;">
            <img src="@lstStrImg[J]" alt="" style="height:68.5px;width:68.5px; margin-left: 4px;" /><br />
            <span style="font-size: 8px; font-weight: bold; text-align: left; margin-left: 7px;">@lstStr[J]</span>
        </div>
    </div>
    if ((J + 1) % 30 == 0)
    {
        <div class="page-break"></div>
    }
}