@using Newtonsoft.Json;
@using BarcodeSystem.Models;
@{
    ViewBag.Title = "QR Codes";

    int counter = 1;
    List<tbl_Barcodes> lstBarcodes = ViewData["lstBarcodes"] as List<tbl_Barcodes>;
}
<style>
    #basic-1a0 th:nth-child(1) {
        width: 80px !important;
    }
    #basic-1a0 td:nth-child(1) {
        width: 80px !important;
    } 
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            QR Code List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item">QR Codes</li>
                        <li class="breadcrumb-item active">QR Code List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>QR Code List</h5>
            </div>
            <div class="card-body vendor-table">
                <div class="btn-popup pull-right">
                    <button type="button" class="btn btn-primary" id="btnAddBarcode">Create New QR Codes</button>
                </div>
                <div class="row" style="margin-top:25px;padding-bottom: 25px;margin-bottom: 10px;">
                    <div class="col-sm-3">
                        <label>Used/UnUsed</label>
                        <select class="form-control" id="selectused" style="width:150px;">
                            <option value="-1">All</option>
                            <option value="1">Used</option>
                            <option value="2">Not Used</option>
                        </select>
                    </div>
                    <div class="col-sm-1" style="margin-right:25px;">
                        <input type="button" value="View" class="btn btn-info" onclick="viewbarcodes();" style="position: absolute; bottom: 0;" />
                    </div>
                    <div class="col-sm-1" style="margin-left:25px;">
                        <input type="button" value="View Barcodes" class="btn btn-info" onclick="viewbarcodesselected();" style="position: absolute; bottom: 0;" />
                    </div>
                </div>              
                <table class="display" id="basic-1a0">
                    <thead>
                        <tr>
                            <th style="width:60px;"><input type="checkbox" class="chkall"/></th>
                            <th style="width:90px;"></th>
                            <th>QR Code Number</th>
                            <th>Amount</th>
                            <th>Created Date</th>
                            <th>Used/UnUsed</th>
                            <th width="15%;">Active</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (lstBarcodes != null && lstBarcodes.Count > 0)
                        {
                            foreach (var obj in lstBarcodes)
                            {
                                int amts = Convert.ToInt32(obj.Amount.Value);
                                string brcodimg = "₹50";
                                if (amts == 150)
                                {
                                    brcodimg = "₹20";
                                }
                                else if (amts == 220)
                                {
                                    brcodimg = "₹30";
                                }
                                else
                                {
                                    brcodimg = "₹50";
                                }

                                <tr class="gradeX">
                                    <td style="width:60px;"><input type="checkbox" class="chkbrk" data-attids="@obj.BarcodeId" /></td>
                                    <td style="width:90px;">@counter.</td>
                                    <td>@obj.BarcodeNumber</td>
                                    <td>@brcodimg - @obj.Amount</td>
                                    <td>@obj.CreatedDate.Value.ToString("dd/MM/yyyy")</td>
                                    @if (obj.IsUsed == true)
                                    {
                                        <td>Used</td>
                                    }
                                    else
                                    {
                                        <td>N/U</td>
                                    }

                                    @if (obj.IsActive == true)
                                    {
                                        <td><span class="badge badge-success" style="cursor:pointer;" title="Click to Inactive" onclick="fnChangeStatus('@obj.BarcodeId','InActive');">Active</span></td>
                                    }
                                    else
                                    {
                                        <td><span class="badge badge-danger" style="cursor:pointer;" title="Click to Active" onclick="fnChangeStatus('@obj.BarcodeId','Active');">InActive</span></td>
                                    }
                                    <td>
                                        <a href="/admin/qrcode/view/@obj.BarcodeId"><i class="fa fa-eye font-success"></i></a>
                                        <a href="javascript:void(0);" onclick="fnDeleteQR('@obj.BarcodeId')"><i class="fa fa-trash font-danger"></i></a>
                                    </td>
                                </tr>
                                counter++;
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>
<!-- Delete Modal -->
<div class="modal fade open" id="deleteQRModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Delete Confirm</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnDeleteHomeImage" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnDeleteQR" class="btn btn-primary" type="button">Delete</button>
            </div>
        </div>
    </div>
</div>
<!-- Delete modal -->


<div class="modal fade open" id="activeinactiveModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">
                Are you sure you want to active ?
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdndataId" />
                <input type="hidden" id="hdnstatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnChangeStatus" class="btn btn-primary" type="button">Submit</button>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {
        $("#selectused").val('@ViewBag.used')
        $('#basic-1a0').DataTable({
            "pageLength": 100,
            "order": [],
            "columnDefs": [
                { "orderable": false, "width": "5%", "targets": 0 }
            ]
        });
    });
   
    $(document).on("click", "#btnAddBarcode", function () {
        window.location.href = "/admin/qrcode/CreateQrCodes";
    });


    function fnDeleteQR(HomeImage_Id) {
        jQuery("#hdnDeleteHomeImage").val(HomeImage_Id);
        $('#deleteQRModal').modal('show');
    }

    jQuery(document).on("click", "#btnDeleteQR", function () {

        var Product_Id = jQuery("#hdnDeleteHomeImage").val();
        if (Product_Id != "" && Product_Id != null) {
            $('#deleteQRModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("DeleteQRcode", "QrCode")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?QRcodeId=" + Product_Id,
                success: function (result) {
                    if (result == "success") {
                        alert("QR Code deleted successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("QR Code Not Found");
                    }
                    else if (result == "alreadyused") {
                        alert("Code is already used, so you can not delete it.");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });

    function viewbarcodes() {
        var statusid = $("#selectused").val();
        location.href = "/admin/qrcode?used=" + statusid;
    }

     function fnChangeStatus(HomeImage_Id,status) {
         jQuery("#hdndataId").val(HomeImage_Id);
         jQuery("#hdnstatus").val(status);
         if (status == "Active") {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make active ?");
         }
         else {
             $('#activeinactiveModal .modal-body').html(" Are you sure you want to make inactive ?");
         }
        $('#activeinactiveModal').modal('show');
    }

       jQuery(document).on("click", "#btnChangeStatus", function () {

        var Id = jQuery("#hdndataId").val();
        if (Id != "" && Id != null) {
            $('#activeinactiveModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("ChangeStatus", "qrcode")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + Id+"&Status="+jQuery("#hdnstatus").val(),
                success: function (result) {
                    if (result == "success") {
                        alert("Status change Successfully...");
                        window.location.reload();
                    }
                    else if (result == "used") {
                        alert("This code is already used. so you can not change status.");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }
    });


    function viewbarcodesselected() {
        if ($(".chkbrk:checked").length == 0) {
            alert("Please select at least 1 barcode");
        }
        else {
            var valuesArray = $('input:checkbox:checked').map(function () {
                return $(this).attr("data-attids");
            }).get().join('^');
            setCookie("eonbarcode", valuesArray, 1);
            window.open('/admin/qrcode/DisplayUnUsedBarcodes');
        }
    }

    $(".chkall").click(function () {
        $(".chkbrk").prop('checked', $(this).prop('checked'));
    });
    function setCookie(cname, cvalue, exdays) {
        var d = new Date();
        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
        var expires = "expires=" + d.toUTCString();
        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
    }
</script>