@using BarcodeSystem.Helper;
@model List<RedeemClientPointHistoryVM>
@{
    ViewBag.Title = "RedeemItemList";
    int counter = 1;
}
<style>
    body {
        padding-top: 60px;
    }
</style>
<div class="page-body">

    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-lg-6">
                    <div class="page-header-left">
                        <h3>
                            Redeem Customer Point History List
                        </h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <ol class="breadcrumb pull-right">
                        <li class="breadcrumb-item"><a href="/"><i data-feather="home"></i></a></li>
                        <li class="breadcrumb-item active">Redeem Customer Point History List</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->
    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h5>Redeem Customer Point History List</h5>
            </div>
            <div class="card-body vendor-table" style="padding-top: 0px;">

                <div class="row" style="margin-top:25px;padding-bottom: 25px;margin-bottom: 10px;">
                    <div class="col-sm-2">
                        <label>Start Date *</label>
                        <input class="form-control col-md-12 clsDatePicker text-box single-line valid" id="StartDate" name="StartDate" placeholder="DD/MM/YYY" readonly="readonly" type="text" value="@ViewBag.startDateFilter">
                    </div>
                    <div class="col-sm-2">
                        <label>End Date *</label>
                        <input class="form-control col-md-12 clsDatePicker text-box single-line valid" id="EndDate" name="EndDate" placeholder="DD/MM/YYY" readonly="readonly" type="text" value="@ViewBag.endDateFilter">
                    </div>
                    <div class="col-sm-1">
                        <label>Status:</label>
                        <select id="ddlStatus" class="form-control" style="width:150px;">
                            <option value="">All</option>
                            <option value="1" @(ViewBag.searchFilter == 1 ? "selected" : "")>Pending</option>
                            <option value="2" @(ViewBag.searchFilter == 2 ? "selected" : "")>Accepted</option>
                            <option value="3" @(ViewBag.searchFilter == 3 ? "selected" : "")>Delivered</option>
                            <option value="4" @(ViewBag.searchFilter == 4 ? "selected" : "")>Deleted</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <input id="btnSearch" type="button" value="Search" class="btn btn-info" style="position: absolute; bottom: 0; margin-left: 70px;" />
                    </div>
                </div>

                <table class="display" id="basic-1">
                    <thead>
                        <tr>
                            <th width="4%">#</th>
                            <th width="8%">Redeem Date</th>
                            <th width="15%">Customer Name</th>
                            <th>Description</th>
                            <th>Status</th>
                            <th>Amount</th>
                            <th width="5%">Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model != null && Model.Count > 0)
                        {
                            foreach (RedeemClientPointHistoryVM obj in Model)
                            {
                                <tr class="gradeX">
                                    <td>@counter.</td>
                                    <td>@obj.CreatedDate.ToString("dd/MM/yyyy")</td>
                                    <td>@obj.ClientName</td>
                                    <td>@obj.Description</td>
                                    @{
                                        string badgeClassName = CommonMethod.getBadgeClassFromRedeedStatus(obj.Status);
                                    }
                                    <td id="tdStatus_@obj.RedeemClientPointHistoryId">
                                        @if (obj.Status == (int)RedeemItemStatusEnum.Delivered || obj.Status == (int)RedeemItemStatusEnum.Deleted)
                                        {
                                            <span class="badge @badgeClassName" style="font-size:14px;">@obj.StatusText</span>
                                        }
                                        else
                                        {
                                            <a href="javascript:void(0);" onclick="fnChangeStatus(@obj.Status, @obj.RedeemClientPointHistoryId, '@obj.ClientName')">
                                                <span class="badge @badgeClassName" style="font-size:14px;">@obj.StatusText</span>
                                            </a>
                                        }

                                    </td>
                                    <td>@obj.Amount</td>
                                    <td>
                                        <a href="/admin/redeemcustomerhistory/view/@obj.RedeemClientPointHistoryId"><i class="fa fa-eye mr-2 font-success"></i></a>
                                    </td>
                                </tr>
                                counter++;
                            }
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->

</div>

<!-- Change Status Modal -->
<div class="modal fade open" id="statusHistoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnHistoryId" />
                <input type="hidden" id="hdnStatus" />
                <button data-dismiss="modal" class="btn btn-danger" type="button">Close</button>
                <button id="btnUpdateStatus" class="btn btn-primary" type="button">Update</button>
            </div>
        </div>
    </div>
</div>
<!-- Change Status modal -->

<script>

    jQuery(document).ready(function () {
        jQuery('html, body').animate({ scrollTop: 0 }, 1000);
    });

    $(document).on("click", "#btnSearch", function () {
        StartLoading;
        var selectedStaus = jQuery("#ddlStatus option:selected").val();
        var startDate = $("#StartDate").val();
        var endDate = $("#EndDate").val();

        location.href = "/admin/redeemcustomerhistory?status=" + selectedStaus + "&startDate=" + startDate + "&endDate=" + endDate;
    });

    function fnChangeStatus(status, historyId, clientName) {

        jQuery("#hdnHistoryId").val(historyId);
        jQuery("#hdnStatus").val(status);

        var headerText = "";
        var bodyText = "";
        var buttonText = ""
        if (status == 1) {
            headerText = "Change Status - " + clientName;
            bodyText = "Are you sure you want to Accept ?";
            buttonText = "Accept"
        }
        else if (status == 2) {
            headerText = "Change Status - " + clientName;
            bodyText = "Are you sure you want to Deliver ?";
            buttonText = "Deliver"
        }
        if (buttonText != "") {
            $("#statusHistoryModal .modal-title").text(headerText);
            $("#statusHistoryModal .modal-body").text(bodyText);
            $("#btnUpdateStatus").text(buttonText);

            $('#statusHistoryModal').modal('show');
        }
        else {
            alert("Something went wrong");
        }
    }

    $(document).on("click", "#btnUpdateStatus", function () {

        var hdnHistoryId = jQuery("#hdnHistoryId").val();
        var hdnStatus = jQuery("#hdnStatus").val();

        if (hdnHistoryId != "" && hdnHistoryId != null) {
            $('#statusHistoryModal').modal('hide');

            StartLoading();

            var URL = '@Url.Action("UpdateHistoryStatus", "RedeemCustomerHistory")';
            $.ajax({
                type: 'POST',
                async: true,
                url: URL + "?Id=" + hdnHistoryId + "&Status=" + hdnStatus,
                success: function (result) {
                    if (result == "success") {
                        alert("Status updated successfully");
                        window.location.reload();
                    }
                    else if (result == "notfound") {
                        alert("Record Not Found");
                    }
                    else {
                        alert("Something went wrong. Please try again");
                    }

                   StopLoading();
                },
                error: function (resultData) {
                    StopLoading();
                }
            });
        }

    });

</script>